@(dForm: Form[upUsu])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import helper._
@main("Cadastrar Usuario - Natal Solidário 2018") {
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cadasrrar Usu</title>
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	<body>
		<div class="fundopad">
			<nav>
				<div class="logo">
					<a href="index.html">Natal Solidário 2018</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="#">Cartas</a></li>
						<li><a href="#">Voltar</a></li>
					</ul>
				</div>
			</nav>
			<div id="center">
			  <div>
				<p>
					@helper.form(action = routes.LoginController.updateUsu()) {
          
          @CSRF.formField
  @helper.inputText(dForm("id"))
  @helper.inputText(dForm("nome"))
  @helper.inputText(dForm("email"))
  @helper.inputPassword(dForm("senha"))
  <button type="submit">Send</button>
}			
@if(dForm.hasGlobalErrors) {
  <ul>
  @for(error <- dForm.globalErrors) {
    <li>@error.format</li>
  }
  </ul>
}
</div>
			</div>
		</div>
	</body>
</html>
}