@(dForm: Form[Carta])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@if(dForm.hasGlobalErrors) {
  <ul>
  @for(error <- dForm.globalErrors) {
    <li>@error.format</li>
  }
  </ul>
}

@import helper._

@helper.form(action = routes.CartaController.create()) {
  <!-- CROSS-SITE REQUEST FORGERY -->
  @CSRF.formField                     
  @helper.inputText(dForm("nome")) 
  @helper.inputText(dForm("sexo")) 
  @helper.inputText(dForm("idade")) 
  @helper.inputText(dForm("tamRoupa")) 
  @helper.inputText(dForm("tamSap")) 
  @helper.inputText(dForm("pedido")) 
  @helper.inputText(dForm("resp")) 
  <button type="submit">Send</button>
}