@(dForm: Form[DeleteUsu])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import helper._
@main("Deletar Usuario - Natal Solidário 2018") {
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Apagar</title>
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	<body>
		<div class="fundopad">
			<nav>
				<div class="logo">
					<a href="index.html">Natal Solidário 2018</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="#">Cartas</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</div>
			</nav>
			<div id="center">
				<div class="cadastro">
			<div class="header-form">
				@helper.form(action = routes.LoginController.deleteUsu()) {
  @CSRF.formField
  @helper.inputText(dForm("id"))
  <button type="submit">Send</button>
}

@if(dForm.hasGlobalErrors) {
  <ul>
  @for(error <- dForm.globalErrors) {
    <li>@error.format</li>
  }
  </ul>
}
			</div>
		</div>
		</div>
		</div>
	</body>
</html>
}

