@(list:Seq[Carta])
 
@main("Lista Cartas") {

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<div class="logo">
					<a href="#">Natal Solidário 2018</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href=></a></li>
						<li><a href=@(routes.HomeController.index)>Voltar</a></li>
					</ul>
				</div>
			</nav>
			<<div id="fundo">
    <h1>Lista de Cartinhas - NATAL 2018</h1>
    <table>
        <tr>
           <td>NOME</td>
           <td>SEXO</td>
           <td>IDADE</td>
           <td>TAMANHO ROUPA</td>
           <td>TAMANHO SAPATO</td>
           <td>PEDIDO</td>
           <td>Padrinho</td>
        </tr> 
    @for(t <- list) {
        <tr>
           <td>@t.nome</td>
           <td>@t.sexo</td>
           <td>@t.idade</td>
           <td>@t.tamRoupa</td>
           <td>@t.tamSap</td>
           <td>@t.pedido</td>
           <td>@t.resp</td>
        </tr> 
    }
    </table>
		</header>
	</body>
</html>
}