@(dForm: Form[Login])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import helper._
@main("Natal Solidário 2018 - Aquecendo Corações") {
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	<body>
		<div class="fundolog">
			<nav>
				<div class="logo">
					<a href="#">Natal Solidário 2018</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href=@(routes.HomeController.index)></a>Cadastre-se</li>
						<li><a href=>Voltar</a></li>
					</ul>
				</div>
			</nav>
			<div id="center">
			  <div>
				<p>
					@helper.form(action = routes.LoginController.auth()) {
          <!-- CROSS-SITE REQUEST FORGERY -->
          @CSRF.formField                     
         <div class="input">
          @helper.inputText(dForm("email")) 
          </div>
          <div class="input">
          @helper.inputPassword(dForm("senha")) 
          </div>
  <button type="submit">Send</button>
  
          @if(dForm.hasGlobalErrors) {
          <ul>
          @for(error <- dForm.globalErrors) {
            <li>@error.format</li>
          }
          </ul>
        }
}
				</p>
				</div>
			</div>
		</div>
	</body>
</html>
}